<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinkashot.api.dao.MemberDAO">
	<select id="selectMembers" resultType="com.sinkashot.api.dto.Member">
		SELECT * 
		FROM member
		WHERE 1=1
		AND number > 10 
	</select>
	
	<select id="findByMemberWithNumber" parameterType="int" resultType="com.sinkashot.api.dto.Member">
		SELECT * FROM member 
		WHERE 1=1
		AND number > 10 
		AND number = #{number}
	</select>
	
	<select id="findByMemberForAuth" parameterType="java.util.Map" resultType="com.sinkashot.api.dto.Member">
		SELECT number, id, name 
		FROM member 
		WHERE id = #{id} AND pwd = #{pwd}
	</select>
</mapper>